html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1140px;
}

.header {
  padding: 30px 0 15px 0;

  box-shadow: 0 1px 5px 0 #333333;
  margin-bottom: 30px;
}

.search {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 0;
  line-height: 0;
  padding-top: 18px;
  color: #333333;
  font-size: 43px;
}

.red-letter {
  color: #dc3545;
}

.input-group {
  width: 400px;
}

.form-control {
  border-radius: 25px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 5px 50px;
}

.btn {
  border-radius: 25px;
}

.result-container {
  margin-bottom: 20px;
}

.load-more-button {
  display: block;
  margin: 0 auto;
  margin-bottom: 80px;
}

.up-to-start-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  left: 50px;
  bottom: 60px;
  font-size: 50px;
  font-weight: lighter;
}

.is-hidden {
  display: none;
}

.stats-item {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.material-icons {
  font-size: 15px;
  display: block;
}

.card {
  border: none;
}

.card-img-top {
  border-radius: 25px;
}

@keyframes slidein {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 12.5%;
  }
}

.main-theme {
  margin-top: 140px;
  text-align: center;
  font-size: 90px;
  color: #333333;
  animation: 2s slidein;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 7px;
  background: #666666;
  width: 100%;
  color: #ffffff;
  font-size: 12px;
  font-weight: lighter;
}

.string {
  display: flex;
}
