html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 800px;
}

.input-group {
  width: 400px;
  padding-top: 20px;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: block;
  margin: 0 auto;
}

.is-hidden {
  display: none;
}
